.fn_header_cell:not(.fn_unresizable) { resize: horizontal; overflow-x: auto; }
.fn_header { background-color: #77F; }
.fn_header_colgroup_fixed, .fn_header_colgroup_suffixed { background-color: #77F; }
.fn_body_colgroup_fixed, .fn_body_colgroup_suffixed { background-color: #BBF; }
.fn_row { display: flex; visibility: visible; }
.fn_row.fn_hidden, .fn_row.fn_hidden * { visibility: hidden; }
.fn_cell { box-shadow: inset 0px 0px 0px 1px black; }
.fn_cell.fn_truncate { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.fn_cell span { margin-left: 4px; margin-right: 4px; }
.fn_cell.fn_hidden, .fn_cell.fn_hidden * { visibility: hidden; }
.fn_cell_button { text-align: center; }
.fn_button { width: 100%; height: 100%; border: none; background-color: transparent; }
.fn_gone { display: none; }
.fn_content { align-content: center; }
.fn_input { align-content: center; }
.fn_select_item span.fn_select_item_text { margin-left: 4px; margin-right: 4px; }
.fn_right_align { text-align: right; }

.fn_root ::-webkit-scrollbar { width: 4px; height: 4px; }
.fn_root .no-scrollbar::-webkit-scrollbar { width: 0px; height: 0px; }
.fn_root ::-webkit-scrollbar-track { background-color: lightgray; }
.fn_root ::-webkit-scrollbar-thumb {  background-color: gray; }
.fn_root ::-webkit-scrollbar-button { display: none; }



.fn_body_row.fn_row.fn_row_unsaved .fn_cell { font-style: italic; color: #F33 }
.fn_body_row.fn_row.fn_row_selected .fn_cell { background-color: #55B; }
.fn_row.fn_row_invalid .fn_cell { background-color: #919; }
.fn_row span, .fn_cell span, .fn_cell .fn_button { user-select: none; }
.fn_select_list { background-color: #DDF; padding: 0px; }
.fn_select_list, .fn_select_item { background-color: #DDF; box-shadow: inset 0px 0px 0px 1px black; align-content: center;}
.fn_select_list, .fn_select_item:hover { background-color: #BBF; }
.fn_select_list, .fn_select_item.fn_select_selected { background-color: #09F; }
.fn_select_list, .fn_select_item.fn_select_selected:hover { background-color: #07D; }

.fn_body_row.fn_row.custom { background-color: #CFC; }
.fn_body_row.fn_row.custom.custom_low_discount { background-color: #9F9; }
.fn_body_row.fn_row.custom.custom_mid_discount { background-color: #6F6; }
.fn_body_row.fn_row.custom.custom_high_discount { background-color: #3F3; }

.custom.custom_long_description { background-color: #F77; }
.custom.custom_short_description { background-color: #BBB; }